# MongoDB
MONGODB_URI=mongodb+srv://moshood2uall_db_user:k14TjYlNLWteV3br@whatsappbot.nlob2w6.mongodb.net/whatsappbot?retryWrites=true&w=majority

# Server
PORT=3000
NODE_ENV=production

# Worker
WORKER_HOST=localhost
WORKER_URL=http://localhost:5001

# JWT
JWT_SECRET=a25f6ca9d20b6fe34f6f4c7070a1b1c06ce2c945484060ac273e2d70b2d36c53300fda6cea19034131f47ee17d3f4c125d602097bbfadd17560192d1bcd721d6

# Payment (Paystack)
PAYSTACK_SECRET_KEY=your_paystack_secret
PAYSTACK_PUBLIC_KEY=your_paystack_public_key

# Email (Resend)
RESEND_API_KEY=re_izFLeUsS_7NNBrWV48TRd3ncWXSwz2oiC

# Google OAuth (optional)
GOOGLE_CLIENT_ID=1024040438272-d9emfus837hjp2oc7afvcoq11p7p1qpg.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# reCAPTCHA
RECAPTCHA_SECRET_KEY=6Lf5IhssAAAAAA9Nk3iPzRYhXqEx2eOrPHOIWMcV